/* Фон всего экрана */
window {
    background-color: rgba(30, 30, 46, 0.85); /* Catppuccin Mocha Base */
}

/* Сжатие сетки кнопок к центру экрана */
grid {
    margin: 40vh 30vw; 
}

/* Настройка маленьких, сгруппированных кнопок с острыми углами */
button {
    margin: 4px;        /* Минимальный отступ сближает кнопки друг к другу */
    padding: 0px;
    width: 90px;        /* Компактная ширина */
    height: 90px;       /* Компактная высота */
    border-radius: 0px; /* Строго острые углы без скруглений */
    border: 2px solid #313244; /* Граница Surface0 */
    background-color: #181825; /* Фон Mantle */
    
    transition: all 0.15s ease-in-out;
}

/* Эффект при наведении (Hover) */
button:hover {
    background-color: #cba6f7; /* Заливка цветом Mauve */
    border-color: #cba6f7;
}

/* Иконки кнопок в цветах Catppuccin Mauve */
/* wleave использует встроенные GTK-иконки. Перекрасим их через CSS-свойство -gtk-icon-effect */
button image {
    -gtk-icon-transform: scale(0.65); /* Делает сами иконки внутри кнопок меньше */
}

#lock image, #logout image, #suspend image, #hibernate image, #shutdown image, #reboot image {
    color: #cba6f7; 
}

button:hover image {
    color: #11111b; /* При наведении иконка становится темной (Crust) */
}
